.header {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 20px;

    &__logo {
      display: flex;
      align-items: center;
    }

    &__item {
      display: flex;
      align-items: center;
      gap: 5px;
      text-decoration: none;
      color: #2c3e50;
      font-weight: bold;
      margin-right: 0.5rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .connected {
    display: flex;
  }

  .logo {
    width: 200px;
    max-width: 100%;
  }
}
